body{
	margin: 0 auto;
	background-color: #458945;
}
h1{
	font-size: 0px;
}
.container{
	max-width: 968px;
}
.container-fluid{
	width: 100%;	
}
.container-footer{
	width: 100%;
}

.img {
    max-width: 100%;
    height: auto; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.dores-text {
    text-align: center;
    color: #56aa2f;
}
/* -------------- ROW1/PAGE HOME -----------*/

.container-fluid img{
	width: 100%
}